n8n/audit-log-google-sheets.workflow.json
{
  "name": "Onboarding Audit Log - Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "audit-webhook-001",
      "name": "Audit Log Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 300],
      "webhookId": "audit-log"
    },
    {
      "parameters": {
        "jsCode": "// Reject requests whose secret header does not match AUDIT_LOG_WEBHOOK_SECRET.\n// Fail-open only when no secret is configured in n8n (Variables or env), so the\n// workflow keeps working until you set the secret, then enforces it.\nconst headers = $json.headers || {};\nconst provided = headers['x-instawork-audit-secret'] || headers['X-Instawork-Audit-Secret'] || '';\nlet expected = '';\ntry { if (typeof $vars !== 'undefined' && $vars && $vars.AUDIT_LOG_WEBHOOK_SECRET) expected = $vars.AUDIT_LOG_WEBHOOK_SECRET; } catch (e) {}\ntry { if (!expected && typeof $env !== 'undefined' && $env && $env.AUDIT_LOG_WEBHOOK_SECRET) expected = $env.AUDIT_LOG_WEBHOOK_SECRET; } catch (e) {}\nconst authorized = !expected || provided === expected;\nreturn [{ json: { authorized: authorized, body: $json.body } }];"
      },
      "id": "audit-check-secret-001",
      "name": "Check Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-authorized",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "audit-authorized-001",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize one inbound audit event into a single, consistent sheet row.\n// One row per event, same 17 columns every time, so the sheet stays clean.\n// PII policy: only Name + Email + residential Address are stored. File references point at AWS S3.\nconst event = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst NL = String.fromCharCode(10);\nconst FRIENDLY_EVENT = { attempt: 'Document Attempt', summary: 'Submission Summary', session_start: 'Session Started', flow_complete: 'Flow Completed', app_redirect_click: 'Opened App' };\nconst profile = event.profile || {};\nconst fullName = ([profile.legalFirstName || profile.firstName, profile.legalLastName || profile.lastName].filter(Boolean).join(' ').trim()) || event.intercomName || '';\nconst email = profile.email || event.intercomEmail || '';\nfunction flagText(flags) { if (!Array.isArray(flags) || !flags.length) return ''; return flags.map(function (f) { return f && f.code ? (f.code + ': ' + (f.message || '')).trim() : String(f); }).join(' | '); }\nlet flow = '', attemptNo = '', result = '', documentInfo = '', fileName = '', awsLocation = '', awsUrl = '', immigration = '', details = '';\nconst kind = event.recordKind || '';\nif (kind === 'attempt') { flow = event.flow || ''; attemptNo = event.attemptNumber || ''; result = event.resultStatus || ''; documentInfo = event.selectedDocumentLabel || event.selectedDocumentType || ''; fileName = event.fileName || ''; awsLocation = event.s3FileKey || ''; awsUrl = event.s3FileUrl || ''; immigration = event.immigrationStatus || ''; details = [event.userMessage, flagText(event.flags)].filter(Boolean).join(' - '); }\nelse if (kind === 'summary') { const id = event.identity || {}; const i9 = event.i9 || {}; result = 'ID: ' + (id.finalStatus || 'n/a') + ' | I-9: ' + (i9.finalStatus || 'n/a'); documentInfo = (i9.selectedDocuments || []).join(', '); immigration = i9.citizenshipStatus || ''; const files = [].concat(id.fileLinks || [], i9.fileLinks || []); const fb = event.feedback || {}; details = [fb.rating ? ('Rating ' + fb.rating + '/5') : '', fb.comments || '', 'ID attempts: ' + (id.attemptCount || 0) + ', I-9 attempts: ' + (i9.attemptCount || 0), files.length ? ('Files:' + NL + files.join(NL)) : ''].filter(Boolean).join(NL); }\nelse if (kind === 'session_start') { details = event.landingUrl ? ('Landing: ' + event.landingUrl) : ''; }\nelse if (kind === 'flow_complete') { result = 'complete'; details = [event.feedbackRating ? ('Rating ' + event.feedbackRating + '/5') : '', event.feedbackComments || ''].filter(Boolean).join(' - '); }\nelse if (kind === 'app_redirect_click') { result = event.context || ''; details = event.deepLink ? ('Deep link: ' + event.deepLink) : ''; }\nconst row = { 'Timestamp': event.timestamp || new Date().toISOString(), 'Event': FRIENDLY_EVENT[kind] || kind || 'Unknown', 'Session ID': event.sessionId || '', 'Name': fullName, 'Email': email, 'Flow': flow, 'Attempt #': attemptNo, 'Result': result, 'Document': documentInfo, 'File Name': fileName, 'AWS File Location': awsLocation, 'AWS File URL': awsUrl, 'Immigration Status': immigration, 'Details': details, 'Address': profile.residentialAddress || '', 'Intercom User ID': event.intercomUserId || '', 'Intercom Ticket ID': event.intercomConversationId || '' };\nreturn [{ json: row }];"
      },
      "id": "audit-normalize-001",
      "name": "Normalize Audit Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "19MM98YCU_Qtpz8YEXL6l6cHlQgVMNMAsbcDkA99e524"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "audit-append-sheet-001",
      "name": "Append Audit Row To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1180, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a58028CP6zWXvdeS",
          "name": "LB W2 I9 Sheet"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { logged: true, session: $('Normalize Audit Row').item.json['Session ID'], event: $('Normalize Audit Row').item.json['Event'] } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "audit-respond-001",
      "name": "Respond Logged",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "audit-respond-401-001",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 420]
    }
  ],
  "connections": {
    "Audit Log Webhook": {
      "main": [
        [
          {
            "node": "Check Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Secret": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Normalize Audit Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Audit Row": {
      "main": [
        [
          {
            "node": "Append Audit Row To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row To Google Sheets": {
      "main": [
        [
          {
            "node": "Respond Logged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "audit-log-google-sheets-v3-secure",
  "triggerCount": 1
}
