n8n/i9-document-verification.workflow.json
{
  "name": "I-9 Document Verification - Gemini Vision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "i9/verify-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "i9-webhook-001",
      "name": "I9 Verification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [820, 340],
      "webhookId": "i9-verify-document"
    },
    {
      "parameters": {
        "jsCode": "const body = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst p = body.profile || {};\nconst i9 = body.i9Context || {};\nconst imgLen = (body.imageBase64 || '').length;\n\nconsole.log('\\n======== I-9 DOCUMENT INTAKE ========');\nconsole.log('[I9] requestId=' + (body.requestId || 'MISSING'));\nconsole.log('[I9] immigrationStatus=' + (i9.citizenshipStatus || 'MISSING'));\nconsole.log('[I9] documentPath=' + (i9.documentPath || 'MISSING'));\nconsole.log('[I9] expectedList=' + (i9.expectedList || 'MISSING'));\nconsole.log('[I9] expectedDocId=' + (i9.expectedDocId || 'MISSING'));\nconsole.log('[I9] expectedDocLabel=' + (i9.expectedDocLabel || 'MISSING'));\nconsole.log('[I9] selectedDocumentType=' + (body.selectedDocumentType || 'MISSING'));\nconsole.log('[I9] documentSide=' + (body.documentSide || 'MISSING'));\nconsole.log('[I9] profile: firstName=' + (p.legalFirstName || 'MISSING') + ' lastName=' + (p.legalLastName || 'MISSING') + ' DOB=' + (p.dateOfBirth || 'MISSING'));\nconsole.log('[I9] imageBase64 length=' + imgLen + ' chars (~' + Math.round(imgLen * 0.75 / 1024) + ' KB)');\nconsole.log('=====================================\\n');\n\nconst allowedTypes = ['drivers-license','state-id','passport','passport-card','permanent-resident-card','employment-authorization-card','military-id','unknown'];\nconst allowedSides = ['front','back'];\nconst missing = [];\nfor (const path of ['requestId','selectedDocumentType','documentSide','imageBase64','profile.legalFirstName','profile.legalLastName','profile.dateOfBirth']) {\n  const val = path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), body);\n  if (val === undefined || val === null || val === '') missing.push(path);\n}\nif (!i9.citizenshipStatus) missing.push('i9Context.citizenshipStatus');\nif (!i9.expectedList) missing.push('i9Context.expectedList');\nif (!i9.expectedDocLabel) missing.push('i9Context.expectedDocLabel');\n\nconst invalid = [];\nif (body.selectedDocumentType && !allowedTypes.includes(body.selectedDocumentType)) invalid.push('selectedDocumentType');\nif (body.documentSide && !allowedSides.includes(body.documentSide)) invalid.push('documentSide');\n\nif (missing.length || invalid.length) {\n  console.log('[I9] REJECTED: missing=' + JSON.stringify(missing) + ' invalid=' + JSON.stringify(invalid));\n  return [{ json: { valid: false, response: { success: false, requestId: body.requestId || null, error: { code: 'INVALID_REQUEST', message: 'Missing or invalid fields.', missing, invalid }, analysis: null } } }];\n}\nconsole.log('[I9] VALID - proceeding');\nreturn [{ json: { ...body, valid: true } }];"
      },
      "id": "i9-validate-001",
      "name": "Validate I9 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "valid-cond", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "i9-if-valid-001",
      "name": "Is I9 Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1260, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": { "responseCode": 400 }
      },
      "id": "i9-respond-invalid-001",
      "name": "Respond Invalid I9 Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1480, 440]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst raw = String(input.imageBase64 || '');\nconst match = raw.match(/^data:(.*?);base64,(.*)$/);\nconst mimeType = match ? (match[1] || 'image/png') : 'image/png';\nconst base64 = match ? match[2] : raw;\nconst extByMime = { 'image/jpeg': 'jpg', 'image/jpg': 'jpg', 'image/png': 'png', 'image/webp': 'webp' };\nconst ext = extByMime[mimeType] || 'png';\nconst fileName = `${input.requestId}-i9-${input.i9Context?.expectedList || 'doc'}-${input.documentSide}.${ext}`;\nconst buffer = Buffer.from(base64, 'base64');\nif (!buffer.length) throw new Error('imageBase64 decoded to empty buffer');\nconst binary = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\nreturn [{\n  json: {\n    ...input,\n    mimeType,\n    fileName,\n    imageDataUrl: raw.startsWith('data:') ? raw : `data:${mimeType};base64,${base64}`\n  },\n  binary: { image: binary, data: binary }\n}];"
      },
      "id": "i9-convert-binary-001",
      "name": "Convert I9 Image To Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 240]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "mode": "id", "value": "17N2GfPmuGpZ9OErpOwNHl_xv8L5rB9Sy" },
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "i9-upload-drive-001",
      "name": "Upload I9 Doc To Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1700, 240],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "2sGyO0NkRuwAciq3", "name": "LB workspace" }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $items('Convert I9 Image To Binary')[0].json;\nconst upload = $json;\nconst googleDriveFileId = upload.id || upload.fileId || null;\nconst p = request.profile || {};\nconst i9 = request.i9Context || {};\n\nconsole.log('[I9-PREPARE] requestId=' + request.requestId);\nconsole.log('[I9-PREPARE] driveFileId=' + googleDriveFileId);\nconsole.log('[I9-PREPARE] expectedList=' + i9.expectedList + ' expectedDoc=' + i9.expectedDocLabel);\nconsole.log('[I9-PREPARE] citizenshipStatus=' + i9.citizenshipStatus);\nconsole.log('[I9-PREPARE] selectedDocumentType=' + request.selectedDocumentType);\n\nconst binItem = $items('Convert I9 Image To Binary')[0].binary || {};\nconst imgBin = binItem.image || binItem.data || null;\nreturn [{\n  json: {\n    requestId: request.requestId,\n    selectedDocumentType: request.selectedDocumentType,\n    documentSide: request.documentSide,\n    mimeType: request.mimeType,\n    fileName: request.fileName,\n    imageDataUrl: request.imageDataUrl,\n    googleDriveFileId,\n    profile: {\n      legalFirstName: p.legalFirstName || '',\n      legalMiddleName: p.legalMiddleName || '',\n      legalLastName: p.legalLastName || '',\n      dateOfBirth: p.dateOfBirth || ''\n    },\n    i9Context: {\n      citizenshipStatus: i9.citizenshipStatus || '',\n      documentPath: i9.documentPath || '',\n      expectedList: i9.expectedList || '',\n      expectedDocId: i9.expectedDocId || '',\n      expectedDocLabel: i9.expectedDocLabel || ''\n    }\n  },\n  binary: imgBin ? { image: imgBin, data: imgBin } : undefined\n}];"
      },
      "id": "i9-prepare-context-001",
      "name": "Prepare I9 Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 240]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": { "__rl": true, "value": "models/gemini-2.5-flash", "mode": "list", "cachedResultName": "models/gemini-2.5-flash" },
        "text": "=You are an I-9 document verification system. Analyze the uploaded image and return ONLY valid JSON — no Markdown, no code fences, no prose.\n\nCONTEXT:\n- Immigration status: {{ $json.i9Context.citizenshipStatus }}\n- Document path: {{ $json.i9Context.documentPath }}\n- Expected list: {{ $json.i9Context.expectedList }}\n- Expected document: {{ $json.i9Context.expectedDocLabel }}\n- Selected gov type: {{ $json.selectedDocumentType }}\n- Document side submitted: {{ $json.documentSide }}\n- Profile name: {{ $json.profile.legalFirstName }} {{ $json.profile.legalLastName }}\n- Profile DOB: {{ $json.profile.dateOfBirth }}\n\n{{ $json.documentSide === 'back' ? 'BACK SIDE MODE — This is the back of the document. Your ONLY job is to confirm this is the correct back side of the expected document type. Do NOT check name, DOB, expiration, or address — those were verified on the front. Only check: (1) Is this actually the back side of a document (not the front again)? (2) Does it match the expected document type? If it is the correct back side of the correct document type, set complianceEligibility=true and write a userMessage confirming the back side was accepted (e.g. \"Back of [detected document name] accepted.\"). If it shows the front side again, set sideMatchesSelected=false, flag SIDE_MISMATCH, complianceEligibility=false, userMessage explaining the issue. If it is the back of a completely different document type, set documentTypeMatch=false, flag WRONG_LIST or WRONG_DOCUMENT, complianceEligibility=false. For ALL back-side submissions, set nameMatch=NOT_CHECKED, dobMatch=NOT_CHECKED, expirationStatus=NOT_CHECKED.' : 'FRONT SIDE MODE — Perform full verification below.' }}\n\n{{ $json.documentSide !== 'back' ? 'FRONT SIDE TASKS:\n1. Detect what document is actually in the image. If the image does not contain a recognizable US government-issued identity document, set documentDetected=false, detectedDocumentType=unknown, complianceEligibility=false, and write a userMessage explaining the document was not recognized.\n2. Determine which I-9 list the ACTUAL document belongs to:\n   - List A: US Passport, US Passport Card, Permanent Resident Card, Employment Authorization Document, Foreign Passport with I-551/I-94\n   - List B: Driver License, State ID Card, School ID, Voter Registration Card, Military Card/ID\n   - List C: Social Security Card, Birth Certificate, US Citizen ID Card, Native American Tribal Document, Employment Authorization Document (work auth only)\n3. Check if actual doc matches expected (list + label).\n4. CROSS-LIST MISMATCH: If actual list differs from expected list, flag WRONG_LIST with specific message naming both lists.\n5. WRONG DOCUMENT: If same list but different document, flag WRONG_DOCUMENT naming both documents.\n6. Compare name (case-insensitive, ignore middle names, accept LAST FIRST order) and DOB to profile. Dates: normalize to YYYY-MM-DD.\n7. Check expiration date against today.\n8. Verify document is appropriate for immigration status.\n\nIMMIGRATION STATUS RULES:\n- us_citizen: US Passport, Passport Card (A), Driver License, State ID (B), Social Security Card, Birth Certificate (C)\n- noncitizen_national: Same as citizen plus foreign passport options\n- lawful_permanent_resident: Permanent Resident Card (A), Driver License, State ID (B), Social Security Card (C)\n- noncitizen_authorized: Employment Authorization Document (A), Driver License, State ID (B), EAD (C)\n\ncomplianceEligibility = true ONLY when ALL of: documentDetected=true, listMatch=true, documentTypeMatch=true, nameMatch=MATCH or NOT_CHECKED, dobMatch=MATCH or NOT_CHECKED, not expired, documentAllowedForStatus=true, AND no IMAGE_TAMPERING detected.\n\nCRITICAL TAMPER RULE: If the image contains watermarks, sample overlays, blankpsd.com, template text, or any sign it is a fake/edited/digital document: flag IMAGE_TAMPERING (severity CRITICAL), set complianceEligibility=false, and write a userMessage explaining the document appears to be a sample or digitally altered.\n\nuserMessage RULES (write a unique, specific message based on the actual document found — never copy example text):\n- If document not recognized: \"We could not detect a valid US identity document in this image. Please upload a clear photo of your [expected doc label].\"\n- If wrong list: \"You selected [expected doc] (List [X]) but uploaded a [actual doc], which is a List [Y] document. Please upload your [expected doc] instead.\"\n- If wrong doc same list: \"You selected [expected doc] but this appears to be a [actual doc]. Please upload the correct document.\"\n- If name mismatch: \"The name on this [doc type] does not match your profile.\"\n- If DOB mismatch: \"The date of birth on this [doc type] does not match your profile.\"\n- If expired: \"This [doc type] expired on [date]. Please provide a valid, unexpired document.\"\n- If all checks pass: write a confirmation like \"[Detected document label] verified successfully.\"' : '' }}\n\nSUPPORTED detectedDocumentType values:\n  drivers-license | state-id | passport | passport-card | permanent-resident-card | employment-authorization-card | military-id | unknown\n\nRETURN THIS EXACT JSON STRUCTURE (fill all values based on the actual image — do NOT copy these placeholder values):\n{\n  \"documentDetected\": true,\n  \"detectedDocumentType\": \"<actual detected type, e.g. drivers-license>\",\n  \"detectedDocumentTypeLabel\": \"<human readable label of what you actually detected>\",\n  \"actualDocumentList\": \"<A, B, or C>\",\n  \"documentTypeMatch\": true,\n  \"listMatch\": true,\n  \"detectedSide\": \"<front or back — what you actually see in the image>\",\n  \"sideMatchesSelected\": true,\n  \"extractedFields\": {\n    \"first_name\": null, \"middle_name\": null, \"last_name\": null,\n    \"date_of_birth\": null, \"expiration_date\": null, \"issue_date\": null,\n    \"document_number\": null, \"address_line1\": null, \"city\": null, \"state\": null, \"zip\": null\n  },\n  \"validationResults\": {\n    \"nameMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"dobMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"addressMatch\": { \"status\": \"NOT_CHECKED\" },\n    \"expirationStatus\": \"NOT_CHECKED\",\n    \"photoIntegrity\": \"CLEAR\"\n  },\n  \"immigrationStatusCheck\": {\n    \"documentAllowedForStatus\": true,\n    \"reason\": null\n  },\n  \"crossListMismatch\": {\n    \"detected\": false,\n    \"expectedList\": \"<expected list from context>\",\n    \"actualList\": \"<actual list of detected doc>\",\n    \"message\": null\n  },\n  \"flags\": [],\n  \"complianceEligibility\": true,\n  \"nextAction\": \"CONTINUE\",\n  \"humanReviewRequired\": false,\n  \"reviewReason\": null,\n  \"userMessage\": \"<write a specific message based on verification result — never copy example text>\"\n}\n\nFLAG FORMAT: { \"severity\": \"CRITICAL\", \"code\": \"FLAG_CODE\", \"message\": \"Human-readable description\" }\nFLAG CODES: WRONG_LIST | WRONG_DOCUMENT | SIDE_MISMATCH | NAME_MISMATCH | DOB_MISMATCH | DOCUMENT_EXPIRED | STATUS_INELIGIBLE | IMAGE_QUALITY_LOW | NO_DOCUMENT_DETECTED\n\nReturn ONLY strict JSON. No Markdown. No code fences. Never expose internal flag codes in userMessage.",
        "inputType": "binary",
        "options": {}
      },
      "id": "i9-gemini-primary-001",
      "name": "Analyze I9 Document",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [2140, 240],
      "credentials": {
        "googlePalmApi": { "id": "m4VCWj43BbfwQLJf", "name": "Prod Ops Gemini Key" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconsole.log('[I9-FALLBACK] Primary Gemini 2.5 Flash failed: ' + JSON.stringify(error?.message || error?.error || 'unknown'));\nconsole.log('[I9-FALLBACK] Routing to gemini-2.0-flash...');\n\nconst contextItem = $('Prepare I9 Context').item;\nconst imgBin = contextItem.binary?.image || contextItem.binary?.data || null;\n\nreturn [{\n  json: { ...contextItem.json, _fallbackReason: String(error?.message || error?.error || 'Primary model unavailable') },\n  binary: imgBin ? { image: imgBin, data: imgBin } : undefined\n}];"
      },
      "id": "i9-fallback-prep-001",
      "name": "Prepare I9 Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 480]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list", "cachedResultName": "models/gemini-2.0-flash" },
        "text": "=You are an I-9 document verification system. Analyze the uploaded image and return ONLY valid JSON — no Markdown, no code fences, no prose.\n\nCONTEXT:\n- Immigration status: {{ $json.i9Context.citizenshipStatus }}\n- Expected list: {{ $json.i9Context.expectedList }}\n- Expected document: {{ $json.i9Context.expectedDocLabel }}\n- Selected gov type: {{ $json.selectedDocumentType }}\n- Document side submitted: {{ $json.documentSide }}\n- Profile name: {{ $json.profile.legalFirstName }} {{ $json.profile.legalLastName }}\n- Profile DOB: {{ $json.profile.dateOfBirth }}\n\n{{ $json.documentSide === 'back' ? 'BACK SIDE MODE: Only confirm this is the correct back side of the expected document type. Do NOT check name, DOB, or expiration. If correct back side: complianceEligibility=true, write userMessage confirming back side accepted (e.g. \"Back of [detected document name] accepted.\"). If front side submitted again: sideMatchesSelected=false, flag SIDE_MISMATCH, complianceEligibility=false. If back of wrong document type: documentTypeMatch=false, flag WRONG_LIST or WRONG_DOCUMENT, complianceEligibility=false. Always set nameMatch=NOT_CHECKED, dobMatch=NOT_CHECKED, expirationStatus=NOT_CHECKED.' : 'FRONT SIDE MODE: Full verification. If image does not contain a recognizable US identity document, set documentDetected=false, detectedDocumentType=unknown, complianceEligibility=false, userMessage explaining the document was not recognized. If the image contains watermarks, sample overlays, blankpsd.com, template text, or any sign it is a fake/edited/digital document: flag IMAGE_TAMPERING (severity CRITICAL), complianceEligibility=false, userMessage explaining it appears to be a sample or digitally altered document. Otherwise: detect document type and list, check for WRONG_LIST or WRONG_DOCUMENT, compare name and DOB to profile, check expiration, verify document allowed for immigration status. complianceEligibility=true only when everything passes AND no IMAGE_TAMPERING. Write a specific userMessage based on actual findings — never copy example text.' }}\n\nSUPPORTED detectedDocumentType values:\n  drivers-license | state-id | passport | passport-card | permanent-resident-card | employment-authorization-card | military-id | unknown\n\nRETURN THIS EXACT JSON STRUCTURE (fill all values based on the actual image — do NOT copy these placeholder values):\n{\n  \"documentDetected\": true,\n  \"detectedDocumentType\": \"<actual detected type>\",\n  \"detectedDocumentTypeLabel\": \"<human readable label of what you actually detected>\",\n  \"actualDocumentList\": \"<A, B, or C>\",\n  \"documentTypeMatch\": true,\n  \"listMatch\": true,\n  \"detectedSide\": \"<front or back — what you actually see in the image>\",\n  \"sideMatchesSelected\": true,\n  \"extractedFields\": {\n    \"first_name\": null, \"middle_name\": null, \"last_name\": null,\n    \"date_of_birth\": null, \"expiration_date\": null, \"issue_date\": null,\n    \"document_number\": null, \"address_line1\": null, \"city\": null, \"state\": null, \"zip\": null\n  },\n  \"validationResults\": {\n    \"nameMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"dobMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"addressMatch\": { \"status\": \"NOT_CHECKED\" },\n    \"expirationStatus\": \"NOT_CHECKED\",\n    \"photoIntegrity\": \"CLEAR\"\n  },\n  \"immigrationStatusCheck\": { \"documentAllowedForStatus\": true, \"reason\": null },\n  \"crossListMismatch\": { \"detected\": false, \"expectedList\": \"<expected list from context>\", \"actualList\": \"<actual list of detected doc>\", \"message\": null },\n  \"flags\": [],\n  \"complianceEligibility\": true,\n  \"nextAction\": \"CONTINUE\",\n  \"humanReviewRequired\": false,\n  \"reviewReason\": null,\n  \"userMessage\": \"<write a specific message based on verification result — never copy example text>\"\n}\n\nFLAG CODES: WRONG_LIST | WRONG_DOCUMENT | SIDE_MISMATCH | NAME_MISMATCH | DOB_MISMATCH | DOCUMENT_EXPIRED | STATUS_INELIGIBLE | IMAGE_QUALITY_LOW | NO_DOCUMENT_DETECTED\nReturn ONLY strict JSON. No Markdown. No code fences. Never expose flag codes in userMessage.",
        "inputType": "binary",
        "options": {}
      },
      "id": "i9-gemini-fallback-001",
      "name": "Analyze I9 Document (Fallback)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [2360, 480],
      "credentials": {
        "googlePalmApi": { "id": "m4VCWj43BbfwQLJf", "name": "Prod Ops Gemini Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare I9 Context').item.json;\nconst rawAnalysis = $input.first().json;\nconst i9 = context.i9Context || {};\n\nconsole.log('[I9-FORMAT] Raw keys: ' + Object.keys(rawAnalysis).join(', '));\nconsole.log('[I9-FORMAT] typeof text: ' + typeof rawAnalysis.text);\n\nfunction extractJSON(raw) {\n  if (raw.documentDetected !== undefined) return raw;\n  const candidates = [\n    raw.text,\n    raw.content?.parts?.[0]?.text,\n    raw.output_text,\n    typeof raw.message === 'string' ? raw.message : null\n  ];\n  for (const candidate of candidates) {\n    if (typeof candidate !== 'string') continue;\n    const cleaned = candidate.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n    console.log('[I9-PARSE] Trying candidate, first 200 chars: ' + cleaned.substring(0, 200));\n    try { return JSON.parse(cleaned); } catch(e) { console.log('[I9-PARSE] Failed: ' + e.message); }\n  }\n  return null;\n}\n\nfunction toFieldMatch(val) {\n  if (!val) return { status: 'NOT_CHECKED' };\n  if (typeof val === 'string') {\n    const s = val.toUpperCase();\n    return { status: ['MATCH','MISMATCH','PARTIAL_MATCH','AMBIGUOUS','NOT_CHECKED'].includes(s) ? s : 'NOT_CHECKED' };\n  }\n  if (typeof val === 'object') {\n    const s = String(val.status || 'NOT_CHECKED').toUpperCase();\n    return {\n      status: ['MATCH','MISMATCH','PARTIAL_MATCH','AMBIGUOUS','NOT_CHECKED'].includes(s) ? s : 'NOT_CHECKED',\n      details: val.details || null,\n      userProvided: val.userProvided || null,\n      documentExtracted: val.documentExtracted || null\n    };\n  }\n  return { status: 'NOT_CHECKED' };\n}\n\nfunction toFlag(f) {\n  if (typeof f === 'string') return { severity: 'CRITICAL', code: f, message: f.replace(/_/g, ' ').toLowerCase() };\n  return { severity: f.severity || 'CRITICAL', code: f.code || 'UNKNOWN', message: f.message || f.code || 'Unknown issue' };\n}\n\nconst a = extractJSON(rawAnalysis);\n\nif (!a) {\n  console.log('[I9-RESULT] PARSE FAILED — returning friendly error');\n  return [{ json: {\n    success: false, requestId: context.requestId, source: 'n8n-i9-gemini',\n    googleDriveFileId: context.googleDriveFileId || null,\n    userMessage: 'We could not verify this image automatically. Please retake the photo with good lighting and ensure the full document is visible.',\n    analysis: {\n      documentDetected: false, detectedDocumentType: 'unknown', detectedDocumentTypeLabel: 'Unknown',\n      documentTypeMatch: false, userSelectedType: context.selectedDocumentType || 'unknown',\n      userSelectedTypeLabel: 'Unknown', detectedSide: context.documentSide || 'front',\n      sideMatchesSelected: false, extractedFields: {},\n      validationResults: {\n        nameMatch: { status: 'NOT_CHECKED' }, dobMatch: { status: 'NOT_CHECKED' },\n        addressMatch: { status: 'NOT_CHECKED' }, expirationStatus: 'UNKNOWN', photoIntegrity: 'UNCLEAR'\n      },\n      flags: [{ severity: 'CRITICAL', code: 'ANALYSIS_FAILED', message: 'Document could not be read from the image.' }],\n      complianceEligibility: false, nextAction: 'RETAKE_PHOTO',\n      humanReviewRequired: true, reviewReason: 'Gemini response parse failure'\n    }\n  } }];\n}\n\nconsole.log('[I9-FORMAT] Parsed OK. documentDetected=' + a.documentDetected + ' detectedType=' + a.detectedDocumentType);\n\nconst vr = a.validationResults || {};\nconst ef = a.extractedFields || {};\nconst clm = a.crossListMismatch || {};\nconst isc = a.immigrationStatusCheck || {};\n\nlet flags = Array.isArray(a.flags) ? a.flags.map(toFlag) : [];\n\nif (clm.detected && !flags.some(f => f.code === 'WRONG_LIST')) {\n  flags.unshift({ severity: 'CRITICAL', code: 'WRONG_LIST', message: clm.message || 'Document belongs to a different I-9 list than expected.' });\n}\nif (a.documentTypeMatch === false && a.listMatch === true && !flags.some(f => f.code === 'WRONG_DOCUMENT')) {\n  flags.unshift({ severity: 'WARNING', code: 'WRONG_DOCUMENT', message: 'You selected \"' + (i9.expectedDocLabel || '') + '\" but uploaded a different document from the same list.' });\n}\nif (isc.documentAllowedForStatus === false && !flags.some(f => f.code === 'STATUS_INELIGIBLE')) {\n  flags.unshift({ severity: 'CRITICAL', code: 'STATUS_INELIGIBLE', message: isc.reason || 'This document is not valid for your immigration status.' });\n}\n\nconst rawCompliance = typeof a.complianceEligibility === 'boolean' ? a.complianceEligibility : false;\n// Any CRITICAL flag must block continuation regardless of what the model returned\nconst hasCriticalFlag = flags.some(f => f.severity === 'CRITICAL');\nconst complianceEligibility = rawCompliance && !hasCriticalFlag;\n\nconst labels = {\n  'drivers-license': \"US Driver's License\", 'state-id': 'US State ID Card',\n  'passport': 'US Passport', 'passport-card': 'US Passport Card',\n  'permanent-resident-card': 'US Permanent Resident Card',\n  'employment-authorization-card': 'US Employment Authorization Card',\n  'military-id': 'US Military ID', 'unknown': 'Unknown Document'\n};\n\nconst detectedType = a.detectedDocumentType || context.selectedDocumentType || 'unknown';\nconst selectedType = context.selectedDocumentType || 'unknown';\n\nconst normalizedAnalysis = {\n  documentDetected: Boolean(a.documentDetected),\n  userSelectedType: selectedType,\n  userSelectedTypeLabel: labels[selectedType] || selectedType,\n  detectedDocumentType: detectedType,\n  detectedDocumentTypeLabel: a.detectedDocumentTypeLabel || labels[detectedType] || detectedType,\n  documentTypeMatch: Boolean(a.documentTypeMatch),\n  detectedSide: a.detectedSide || context.documentSide || 'front',\n  sideMatchesSelected: Boolean(a.sideMatchesSelected !== false),\n  extractedFields: ef,\n  validationResults: {\n    nameMatch: toFieldMatch(vr.nameMatch),\n    dobMatch: toFieldMatch(vr.dobMatch),\n    addressMatch: toFieldMatch(vr.addressMatch || 'NOT_CHECKED'),\n    expirationStatus: vr.expirationStatus || 'UNKNOWN',\n    photoIntegrity: vr.photoIntegrity || 'CLEAR'\n  },\n  flags,\n  complianceEligibility,\n  nextAction: a.nextAction || (complianceEligibility ? 'CONTINUE' : 'HALT_VERIFICATION'),\n  humanReviewRequired: Boolean(a.humanReviewRequired ?? !complianceEligibility),\n  reviewReason: a.reviewReason || null\n};\n\nconsole.log('\\n======== I-9 VERIFICATION RESULT ========');\nconsole.log('[I9] request=' + context.requestId);\nconsole.log('[I9] immigration=' + i9.citizenshipStatus + ' expectedList=' + i9.expectedList + ' expectedDoc=' + i9.expectedDocLabel);\nconsole.log('[I9] detectedDoc=' + (a.detectedDocumentTypeLabel || '?') + ' actualList=' + (a.actualDocumentList || '?'));\nconsole.log('[I9] listMatch=' + a.listMatch + ' docMatch=' + a.documentTypeMatch);\nconsole.log('[I9] crossListMismatch=' + JSON.stringify(clm));\nconsole.log('[I9] statusCheck=' + JSON.stringify(isc));\nconsole.log('[I9] name=' + normalizedAnalysis.validationResults.nameMatch.status + ' dob=' + normalizedAnalysis.validationResults.dobMatch.status);\nconsole.log('[I9] compliance=' + complianceEligibility + ' action=' + normalizedAnalysis.nextAction);\nconsole.log('[I9] flags=' + JSON.stringify(flags));\nconsole.log('[I9] userMessage=' + (a.userMessage || 'none'));\nconsole.log('=========================================\\n');\n\nreturn [{ json: {\n  success: true,\n  requestId: context.requestId,\n  source: 'n8n-i9-gemini',\n  googleDriveFileId: context.googleDriveFileId || null,\n  userMessage: a.userMessage || (complianceEligibility ? 'Your document has been verified successfully.' : 'There was an issue verifying your document. Please check the details below.'),\n  analysis: normalizedAnalysis\n} }];"
      },
      "id": "i9-format-response-001",
      "name": "Format I9 Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "i9-respond-result-001",
      "name": "Respond I9 Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2580, 240]
    }
  ],
  "pinData": {},
  "connections": {
    "I9 Verification Webhook": {
      "main": [[{ "node": "Validate I9 Request", "type": "main", "index": 0 }]]
    },
    "Validate I9 Request": {
      "main": [[{ "node": "Is I9 Request Valid?", "type": "main", "index": 0 }]]
    },
    "Is I9 Request Valid?": {
      "main": [
        [{ "node": "Convert I9 Image To Binary", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid I9 Request", "type": "main", "index": 0 }]
      ]
    },
    "Convert I9 Image To Binary": {
      "main": [[{ "node": "Upload I9 Doc To Google Drive", "type": "main", "index": 0 }]]
    },
    "Upload I9 Doc To Google Drive": {
      "main": [[{ "node": "Prepare I9 Context", "type": "main", "index": 0 }]]
    },
    "Prepare I9 Context": {
      "main": [[{ "node": "Analyze I9 Document", "type": "main", "index": 0 }]]
    },
    "Analyze I9 Document": {
      "main": [
        [{ "node": "Format I9 Response", "type": "main", "index": 0 }],
        [{ "node": "Prepare I9 Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Prepare I9 Fallback": {
      "main": [[{ "node": "Analyze I9 Document (Fallback)", "type": "main", "index": 0 }]]
    },
    "Analyze I9 Document (Fallback)": {
      "main": [[{ "node": "Format I9 Response", "type": "main", "index": 0 }]]
    },
    "Format I9 Response": {
      "main": [[{ "node": "Respond I9 Result", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "i9-v4-tamper-fix-2026-05-08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5af3afb38f8674a00c025a9c92d12ea4b38dfe8e9127a5a712d25099414396a2"
  },
  "id": "i9DocVerification",
  "tags": []
}
