n8n/i9-document-verification.workflow.json
{
  "name": "I-9 Document Verification - Gemini Vision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "i9/verify-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "i9-webhook-001",
      "name": "I9 Verification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        340
      ],
      "webhookId": "i9-verify-document"
    },
    {
      "parameters": {
        "jsCode": "const body = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst p = body.profile || {};\nconst i9 = body.i9Context || {};\nconst imgLen = (body.imageBase64 || '').length;\n\nconsole.log('\\n======== I-9 DOCUMENT INTAKE ========');\nconsole.log('[I9] requestId=' + (body.requestId || 'MISSING'));\nconsole.log('[I9] immigrationStatus=' + (i9.citizenshipStatus || 'MISSING'));\nconsole.log('[I9] documentPath=' + (i9.documentPath || 'MISSING'));\nconsole.log('[I9] expectedList=' + (i9.expectedList || 'MISSING'));\nconsole.log('[I9] expectedDocId=' + (i9.expectedDocId || 'MISSING'));\nconsole.log('[I9] expectedDocLabel=' + (i9.expectedDocLabel || 'MISSING'));\nconsole.log('[I9] selectedDocumentType=' + (body.selectedDocumentType || 'MISSING'));\nconsole.log('[I9] documentSide=' + (body.documentSide || 'MISSING'));\nconsole.log('[I9] profile: firstName=' + (p.legalFirstName || 'MISSING') + ' lastName=' + (p.legalLastName || 'MISSING') + ' DOB=' + (p.dateOfBirth || 'MISSING'));\nconsole.log('[I9] imageBase64 length=' + imgLen + ' chars (~' + Math.round(imgLen * 0.75 / 1024) + ' KB)');\nconsole.log('=====================================\\n');\n\nconst allowedTypes = ['drivers-license','state-id','passport','passport-card','permanent-resident-card','employment-authorization-card','military-id','unknown'];\nconst allowedSides = ['front','back'];\nconst missing = [];\nfor (const path of ['requestId','selectedDocumentType','documentSide','imageBase64','profile.legalFirstName','profile.legalLastName','profile.dateOfBirth']) {\n  const val = path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), body);\n  if (val === undefined || val === null || val === '') missing.push(path);\n}\nif (!i9.citizenshipStatus) missing.push('i9Context.citizenshipStatus');\nif (!i9.expectedList) missing.push('i9Context.expectedList');\nif (!i9.expectedDocLabel) missing.push('i9Context.expectedDocLabel');\n\nconst invalid = [];\nif (body.selectedDocumentType && !allowedTypes.includes(body.selectedDocumentType)) invalid.push('selectedDocumentType');\nif (body.documentSide && !allowedSides.includes(body.documentSide)) invalid.push('documentSide');\n\nif (missing.length || invalid.length) {\n  console.log('[I9] REJECTED: missing=' + JSON.stringify(missing) + ' invalid=' + JSON.stringify(invalid));\n  return [{ json: { valid: false, response: { success: false, requestId: body.requestId || null, error: { code: 'INVALID_REQUEST', message: 'Missing or invalid fields.', missing, invalid }, analysis: null } } }];\n}\nconsole.log('[I9] VALID - proceeding');\nreturn [{ json: { ...body, valid: true } }];"
      },
      "id": "i9-validate-001",
      "name": "Validate I9 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "valid-cond",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "i9-if-valid-001",
      "name": "Is I9 Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "i9-respond-invalid-001",
      "name": "Respond Invalid I9 Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst raw = String(input.imageBase64 || '');\nconst match = raw.match(/^data:(.*?);base64,(.*)$/);\nconst mimeType = match ? (match[1] || 'image/png') : 'image/png';\nconst base64 = match ? match[2] : raw;\nconst extByMime = { 'image/jpeg': 'jpg', 'image/jpg': 'jpg', 'image/png': 'png', 'image/webp': 'webp' };\nconst ext = extByMime[mimeType] || 'png';\nconst fileName = `${input.requestId}-i9-${input.i9Context?.expectedList || 'doc'}-${input.documentSide}.${ext}`;\nconst buffer = Buffer.from(base64, 'base64');\nif (!buffer.length) throw new Error('imageBase64 decoded to empty buffer');\nconst binary = await this.helpers.prepareBinaryData(buffer, fileName, mimeType);\nreturn [{\n  json: {\n    ...input,\n    mimeType,\n    fileName,\n    imageDataUrl: raw.startsWith('data:') ? raw : `data:${mimeType};base64,${base64}`\n  },\n  binary: { image: binary, data: binary }\n}];"
      },
      "id": "i9-convert-binary-001",
      "name": "Convert I9 Image To Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "instawork-prod-ops-w2-i9-docs-dev",
        "fileName": "=i9/{{ $json.requestId }}/{{ $json.fileName }}",
        "binaryPropertyName": "image",
        "additionalFields": {
          "contentType": "={{ $json.mimeType }}",
          "storageClass": "STANDARD"
        }
      },
      "id": "i9-upload-s3-001",
      "name": "Upload I9 Doc To S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        1700,
        240
      ],
      "credentials": {
        "aws": {
          "id": "s3-prod-ops-n8n",
          "name": "AWS S3 W2-I9 Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $items('Convert I9 Image To Binary')[0].json;\nconst upload = $json;\nconst s3Bucket = 'instawork-prod-ops-w2-i9-docs-dev';\nconst s3Key = upload.key || upload.Key || 'i9/' + request.requestId + '/' + (request.fileName || 'unknown');\nconst s3FileUrl = 'https://' + s3Bucket + '.s3.us-west-2.amazonaws.com/' + encodeURIComponent(s3Key).replace(/%2F/g, '/');\nconst p = request.profile || {};\nconst i9 = request.i9Context || {};\n\nconsole.log('[I9-PREPARE] requestId=' + request.requestId);\nconsole.log('[I9-PREPARE] s3Key=' + s3Key);\nconsole.log('[I9-PREPARE] s3FileUrl=' + s3FileUrl);\nconsole.log('[I9-PREPARE] expectedList=' + i9.expectedList + ' expectedDoc=' + i9.expectedDocLabel);\nconsole.log('[I9-PREPARE] citizenshipStatus=' + i9.citizenshipStatus);\nconsole.log('[I9-PREPARE] selectedDocumentType=' + request.selectedDocumentType);\n\nconst binItem = $items('Convert I9 Image To Binary')[0].binary || {};\nconst imgBin = binItem.image || binItem.data || null;\nreturn [{\n  json: {\n    requestId: request.requestId,\n    selectedDocumentType: request.selectedDocumentType,\n    documentSide: request.documentSide,\n    mimeType: request.mimeType,\n    fileName: request.fileName,\n    imageDataUrl: request.imageDataUrl,\n    s3FileKey: s3Key,\n    s3FileUrl,\n    profile: {\n      legalFirstName: p.legalFirstName || '',\n      legalMiddleName: p.legalMiddleName || '',\n      legalLastName: p.legalLastName || '',\n      dateOfBirth: p.dateOfBirth || ''\n    },\n    i9Context: {\n      citizenshipStatus: i9.citizenshipStatus || '',\n      documentPath: i9.documentPath || '',\n      expectedList: i9.expectedList || '',\n      expectedDocId: i9.expectedDocId || '',\n      expectedDocLabel: i9.expectedDocLabel || ''\n    }\n  },\n  binary: imgBin ? { image: imgBin, data: imgBin } : undefined\n}];"
      },
      "id": "i9-prepare-context-001",
      "name": "Prepare I9 Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        240
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=You are an I-9 document verification system. Analyze the uploaded image and return ONLY valid JSON \u2014 no Markdown, no code fences, no prose.\n\nCONTEXT:\n- Immigration status: {{ $json.i9Context.citizenshipStatus }}\n- Document path: {{ $json.i9Context.documentPath }}\n- Expected list: {{ $json.i9Context.expectedList }}\n- Expected document: {{ $json.i9Context.expectedDocLabel }}\n- Selected gov type: {{ $json.selectedDocumentType }}\n- Document side submitted: {{ $json.documentSide }}\n- Profile name: {{ $json.profile.legalFirstName }} {{ $json.profile.legalLastName }}\n- Profile DOB: {{ $json.profile.dateOfBirth }}\n\n{{ $json.documentSide === 'back' ? 'BACK SIDE MODE \u2014 This is the back of the document. Your ONLY job is to confirm this is the correct back side of the expected document type. Do NOT check name, DOB, expiration, or address \u2014 those were verified on the front. Only check: (1) Is this actually the back side of a document (not the front again)? (2) Does it match the expected document type? If it is the correct back side of the correct document type, set complianceEligibility=true and write a userMessage confirming the back side was accepted (e.g. \"Back of [detected document name] accepted.\"). If it shows the front side again, set sideMatchesSelected=false, flag SIDE_MISMATCH, complianceEligibility=false, userMessage explaining the issue. If it is the back of a completely different document type, set documentTypeMatch=false, flag WRONG_LIST or WRONG_DOCUMENT, complianceEligibility=false. For ALL back-side submissions, set nameMatch=NOT_CHECKED, dobMatch=NOT_CHECKED, expirationStatus=NOT_CHECKED.' : 'FRONT SIDE MODE \u2014 Perform full verification below.' }}\n\n{{ $json.documentSide !== 'back' ? 'FRONT SIDE TASKS:\n1. Detect what document is actually in the image. If the image does not contain a recognizable supported identity document, set documentDetected=false, detectedDocumentType=unknown, complianceEligibility=false, and write a userMessage explaining the document was not recognized.\n2. Determine which I-9 list the ACTUAL document belongs to:\n   - List A: US Passport, US Passport Card, Permanent Resident Card, Employment Authorization Document, Foreign Passport with I-551/I-94\n   - List B: Driver License, State ID Card, School ID, Voter Registration Card, Military Card/ID\n   - List C: Social Security Card, Birth Certificate, US Citizen ID Card, Native American Tribal Document, Employment Authorization Document (work auth only)\n3. Check if actual doc matches expected (list + label).\n4. CROSS-LIST MISMATCH: If actual list differs from expected list, flag WRONG_LIST with specific message naming both lists.\n5. WRONG DOCUMENT: If same list but different document, flag WRONG_DOCUMENT naming both documents.\n6. Compare name (case-insensitive, ignore middle names, accept LAST FIRST order) and DOB to profile. Dates: normalize to YYYY-MM-DD. SUFFIX RULES: Extract any suffix (Jr, Sr, II, III, IV) visible on the document into the suffix extractedField. Suffix must match EXACTLY between profile and document (case-insensitive): if the profile has NO suffix but the document shows one (e.g. JR, SR) \u2014 flag NAME_MISMATCH; if the profile HAS a suffix but the document omits it \u2014 flag NAME_MISMATCH; only MATCH when both profile and document agree on the suffix (both present and same, or both absent). Never silently ignore a suffix difference.\n7. Check expiration date against today. Do NOT check issue_date against today.\nISSUE DATE RULE: issue_date/ISS/ISSUED is informational only. Do NOT compare issue_date to the current date. Do NOT reject, flag, or mention a document because the issue date appears to be in the future or not yet valid. Only expiration_date/EXP/EXPIRES may be used for date validity.\n\n8. Verify document is appropriate for immigration status.\n\nIMMIGRATION STATUS RULES:\n- us_citizen: US Passport, Passport Card (A), any supported List B identity document including Driver License, State ID, School ID, Voter Registration Card, or Military Card/ID (B), Social Security Card, Birth Certificate (C)\n- noncitizen_national: Same as citizen plus foreign passport options\n- lawful_permanent_resident: Permanent Resident Card (A), any supported List B identity document including Driver License, State ID, School ID, Voter Registration Card, or Military Card/ID (B), Social Security Card (C)\n- noncitizen_authorized: Employment Authorization Document (A), any supported List B identity document including Driver License, State ID, School ID, Voter Registration Card, or Military Card/ID (B), EAD (C)\n\nVENEZUELAN PASSPORT EXPIRY EXEMPTION (CRITICAL):\\n- If the document is a Venezuelan passport (nationality or country of issuance is Venezuela / VEN), do NOT check or enforce the expiration date. Venezuelan passports are exempt from expiry validation per policy.\\n- Set expirationStatus=NOT_APPLICABLE. Do NOT flag DOCUMENT_EXPIRED even if the printed expiration date is in the past.\\n- Add a flag with severity INFO, code VENEZUELAN_PASSPORT_EXPIRY_BYPASS, message: \\\"Since this is a Venezuelan passport, the expiry date will not be checked. Make sure your name and date of birth match those on your identity document to proceed.\\\"\\n- Still check name, DOB, document type, and all other validations normally. Only the expiry check is bypassed.\\n- Extract nationality/country_code into extractedFields when detected.\\n\\nI-9 EXPIRED DOCUMENT EXCEPTION RULES (CRITICAL):\\nCertain documents may be presented for I-9 purposes even when expired. Apply the following exceptions:\\n\\n1. Employment Authorization Document (Form I-766) with Auto-Extension:\\n- An EAD may be acceptable even when expired if accompanied by a Form I-797C Notice of Action / receipt notice for a timely filed EAD renewal in an eligible category.\\n- If the uploaded image shows both the expired EAD and a matching Form I-797C, treat the EAD as unexpired. Set expirationStatus=VALID, do NOT flag DOCUMENT_EXPIRED, and allow complianceEligibility=true when all other checks pass.\\n- If the EAD is expired and no Form I-797C is visible, flag DOCUMENT_EXPIRED as usual.\\n\\n2. Permanent Resident Card (Form I-551) with Extension Notice:\\n- When the submission shows both an expired Permanent Resident Card AND a valid Form I-797 Notice of Action extending it, do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code I551_EXTENSION_NOTICE, message: \\\"This Permanent Resident Card has been extended with a valid Form I-797 Notice of Action. The card's printed expiry date is not enforced.\\\"\\n- If only the expired card is visible without the I-797 notice, flag DOCUMENT_EXPIRED as usual.\\n\\n3. Foreign Passport with Temporary I-551/ADIT Stamp:\\n- When a foreign passport contains a valid temporary I-551 stamp (ADIT stamp), the passport's own expiration date is NOT enforced. Do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code ADIT_STAMP_ACCEPTED, message: \\\"This foreign passport contains a valid temporary I-551/ADIT stamp confirming permanent resident status. The passport's own expiry date is not enforced for I-9 purposes.\\\"\\n- The ADIT stamp itself must still be valid.\\n\\n4. Receipt for Lost, Stolen, or Damaged Documents (The Receipt Rule):\\n- A receipt showing that a replacement document has been applied for is acceptable for I-9 purposes for 90 days from the date of hire.\\n- When the image shows a valid receipt for a lost, stolen, or damaged document, do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code RECEIPT_DOCUMENT_ACCEPTED, message: \\\"A valid receipt for a lost, stolen, or damaged document has been accepted. The actual replacement document must be presented within 90 days of the hire date.\\\"\\n- Extract the receipt date, original document type, and any receipt number into extractedFields.\\n\\ncomplianceEligibility = true ONLY when ALL of: documentDetected=true, listMatch=true, documentTypeMatch=true, nameMatch=MATCH or NOT_CHECKED, dobMatch=MATCH or NOT_CHECKED, not expired, documentAllowedForStatus=true, AND no IMAGE_TAMPERING detected.\n\nCRITICAL TAMPER RULE: If the image contains watermarks, sample overlays, blankpsd.com, template text, or any sign it is a fake/edited/digital document: flag IMAGE_TAMPERING (severity CRITICAL), set complianceEligibility=false, and write a userMessage explaining the document appears to be a sample or digitally altered.\n\nDOCUMENT COPY / SCREENSHOT RULES:\n- Reject screenshots, screen captures, photos of a phone/computer screen, scans, photocopies, xerox copies, printed copies, black-and-white copies, or any image that appears to show a copy/reproduction instead of the original physical document.\n- If this is detected, set flags with DOCUMENT_COPY_OR_SCREENSHOT (severity CRITICAL), set complianceEligibility=false, nextAction=RETAKE_PHOTO, humanReviewRequired=true, and write a clear userMessage asking the user to upload a clear photo of the original physical document, not a screenshot, scan, photocopy, or xerox copy.\n- This rule applies to both front and back side uploads.\n\nSCHOOL ID RULES:\n- A School ID with Photograph is an acceptable I-9 List B identity document. Classify it as \"school-id\" when the document is issued by a school and includes the person's name and photograph.\n- School IDs may not show DOB or expiration. If those fields are not printed, set dobMatch=NOT_CHECKED and expirationStatus=NOT_CHECKED; do not reject solely because DOB or expiration is absent. The visible name must still match the profile.\n- School ID is allowed as a List B document for all immigration statuses when the worker uses the List B + List C path.\n\nuserMessage RULES (write a unique, specific message based on the actual document found \u2014 never copy example text):\n- If document not recognized: \"We could not detect a valid US identity document in this image. Please upload a clear photo of your [expected doc label].\"\n- If wrong list: \"You selected [expected doc] (List [X]) but uploaded a [actual doc], which is a List [Y] document. Please upload your [expected doc] instead.\"\n- If wrong doc same list: \"You selected [expected doc] but this appears to be a [actual doc]. Please upload the correct document.\"\n- If name mismatch: \"The name on this [doc type] does not match your profile.\"\n- If DOB mismatch: \"The date of birth on this [doc type] does not match your profile.\"\n- If expired: \"This [doc type] expired on [date]. Please provide a valid, unexpired document.\"\n- If all checks pass: write a confirmation like \"[Detected document label] verified successfully.\"' : '' }}\n\nPASSPORT BOOK vs PASSPORT CARD CLASSIFICATION (CRITICAL):\\n- A US Passport BOOK is a multi-page booklet (typically 3.5 x 5 inches closed). It has a dark blue cover, a full biographical data page inside with a large photo, printed personal details, and a Machine Readable Zone (MRZ) that starts with P<USA. If you see a booklet, multiple pages, or MRZ starting with P<USA, classify as \\\"passport\\\" — NEVER as \\\"passport-card\\\".\\n- A US Passport CARD is a single wallet-sized plastic card (about the size of a credit card / driver's license). It says \\\"PASSPORT CARD\\\" or \\\"UNITED STATES PASSPORT CARD\\\" on the front. It has no booklet pages. If the document is wallet-sized, single-card, and says PASSPORT CARD, classify as \\\"passport-card\\\".\\n- When in doubt, if the document looks like a booklet or has an MRZ starting with P<USA, it is a passport BOOK (\\\"passport\\\"), not a passport card.\\n- Getting this classification wrong is a CRITICAL error. Double-check before returning detectedDocumentType.\\n\\nSUPPORTED detectedDocumentType values:\n  drivers-license | state-id | passport | passport-card | permanent-resident-card | employment-authorization-card | military-id | school-id | unknown\n\nRETURN THIS EXACT JSON STRUCTURE (fill all values based on the actual image \u2014 do NOT copy these placeholder values):\n{\n  \"documentDetected\": true,\n  \"detectedDocumentType\": \"<actual detected type, e.g. drivers-license>\",\n  \"detectedDocumentTypeLabel\": \"<human readable label of what you actually detected>\",\n  \"actualDocumentList\": \"<A, B, or C>\",\n  \"documentTypeMatch\": true,\n  \"listMatch\": true,\n  \"detectedSide\": \"<front or back \u2014 what you actually see in the image>\",\n  \"sideMatchesSelected\": true,\n  \"extractedFields\": {\n    \"first_name\": null, \"middle_name\": null, \"last_name\": null, \"suffix\": null,\n    \"date_of_birth\": null, \"expiration_date\": null, \"issue_date\": null,\n    \"document_number\": null, \"address_line1\": null, \"city\": null, \"state\": null, \"zip\": null\n  },\n  \"validationResults\": {\n    \"nameMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"dobMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"addressMatch\": { \"status\": \"NOT_CHECKED\" },\n    \"expirationStatus\": \"NOT_CHECKED\",\n    \"photoIntegrity\": \"CLEAR\"\n  },\n  \"immigrationStatusCheck\": {\n    \"documentAllowedForStatus\": true,\n    \"reason\": null\n  },\n  \"crossListMismatch\": {\n    \"detected\": false,\n    \"expectedList\": \"<expected list from context>\",\n    \"actualList\": \"<actual list of detected doc>\",\n    \"message\": null\n  },\n  \"flags\": [],\n  \"complianceEligibility\": true,\n  \"nextAction\": \"CONTINUE\",\n  \"humanReviewRequired\": false,\n  \"reviewReason\": null,\n  \"userMessage\": \"<write a specific message based on verification result \u2014 never copy example text>\"\n}\n\nFLAG FORMAT: { \"severity\": \"CRITICAL\", \"code\": \"FLAG_CODE\", \"message\": \"Human-readable description\" }\nFLAG CODES: WRONG_LIST | WRONG_DOCUMENT | SIDE_MISMATCH | NAME_MISMATCH | DOB_MISMATCH | DOCUMENT_EXPIRED | STATUS_INELIGIBLE | IMAGE_QUALITY_LOW | NO_DOCUMENT_DETECTED | VENEZUELAN_PASSPORT_EXPIRY_BYPASS | EAD_AUTO_EXTENSION | I551_EXTENSION_NOTICE | ADIT_STAMP_ACCEPTED | RECEIPT_DOCUMENT_ACCEPTED\n\nReturn ONLY strict JSON. No Markdown. No code fences. Never expose internal flag codes in userMessage.",
        "inputType": "binary",
        "options": {}
      },
      "id": "i9-gemini-primary-001",
      "name": "Analyze I9 Document",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2140,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "m4VCWj43BbfwQLJf",
          "name": "Prod Ops Gemini Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconsole.log('[I9-FALLBACK] Primary Gemini 2.5 Flash failed: ' + JSON.stringify(error?.message || error?.error || 'unknown'));\nconsole.log('[I9-FALLBACK] Routing to gemini-2.5-pro...');\n\nconst contextItem = $('Prepare I9 Context').item;\nconst imgBin = contextItem.binary?.image || contextItem.binary?.data || null;\n\nreturn [{\n  json: { ...contextItem.json, _fallbackReason: String(error?.message || error?.error || 'Primary model unavailable') },\n  binary: imgBin ? { image: imgBin, data: imgBin } : undefined\n}];"
      },
      "id": "i9-fallback-prep-001",
      "name": "Prepare I9 Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        480
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "=You are an I-9 document verification system. Analyze the uploaded image and return ONLY valid JSON \u2014 no Markdown, no code fences, no prose.\n\nCONTEXT:\n- Immigration status: {{ $json.i9Context.citizenshipStatus }}\n- Expected list: {{ $json.i9Context.expectedList }}\n- Expected document: {{ $json.i9Context.expectedDocLabel }}\n- Selected gov type: {{ $json.selectedDocumentType }}\n- Document side submitted: {{ $json.documentSide }}\n- Profile name: {{ $json.profile.legalFirstName }} {{ $json.profile.legalLastName }}\n- Profile DOB: {{ $json.profile.dateOfBirth }}\n\n{{ $json.documentSide === 'back' ? 'BACK SIDE MODE: Only confirm this is the correct back side of the expected document type. Do NOT check name, DOB, or expiration. If correct back side: complianceEligibility=true, write userMessage confirming back side accepted (e.g. \"Back of [detected document name] accepted.\"). If front side submitted again: sideMatchesSelected=false, flag SIDE_MISMATCH, complianceEligibility=false. If back of wrong document type: documentTypeMatch=false, flag WRONG_LIST or WRONG_DOCUMENT, complianceEligibility=false. Always set nameMatch=NOT_CHECKED, dobMatch=NOT_CHECKED, expirationStatus=NOT_CHECKED.' : 'FRONT SIDE MODE: Full verification. If image does not contain a recognizable US identity document, set documentDetected=false, detectedDocumentType=unknown, complianceEligibility=false, userMessage explaining the document was not recognized. If the image contains watermarks, sample overlays, blankpsd.com, template text, or any sign it is a fake/edited/digital document: flag IMAGE_TAMPERING (severity CRITICAL), complianceEligibility=false, userMessage explaining it appears to be a sample or digitally altered document. Otherwise: detect document type and list, check for WRONG_LIST or WRONG_DOCUMENT, compare name and DOB to profile (also extract any suffix like Jr/Sr from the document into the suffix field; suffix must match exactly \u2014 if profile has no suffix but document shows one flag NAME_MISMATCH; if profile has suffix but document omits it flag NAME_MISMATCH; only MATCH when both agree on suffix), check expiration only (never reject for a future issue_date), verify document allowed for immigration status. ISSUE DATE RULE: issue_date/ISS/ISSUED is informational only. Do NOT compare issue_date to the current date. Do NOT reject, flag, or mention a document because the issue date appears to be in the future or not yet valid. Only expiration_date/EXP/EXPIRES may be used for date validity. complianceEligibility=true only when everything passes AND no IMAGE_TAMPERING. Write a specific userMessage based on actual findings \u2014 never copy example text.' }}\n\nVENEZUELAN PASSPORT EXPIRY EXEMPTION (CRITICAL):\n- If the document is a Venezuelan passport (nationality or country of issuance is Venezuela / VEN), do NOT check or enforce the expiration date.\n- Set expirationStatus=NOT_APPLICABLE. Do NOT flag DOCUMENT_EXPIRED even if the printed expiration date is in the past.\n- Add a flag with severity INFO, code VENEZUELAN_PASSPORT_EXPIRY_BYPASS, message: \"Since this is a Venezuelan passport, the expiry date will not be checked. Make sure your name and date of birth match those on your identity document to proceed.\"\n- Still check name, DOB, document type, and all other validations normally. Only the expiry check is bypassed.\n- Extract nationality/country_code into extractedFields when detected.\n\nI-9 EXPIRED DOCUMENT EXCEPTION RULES (CRITICAL):\nCertain documents may be presented for I-9 purposes even when expired. Apply the following exceptions:\n\n1. Employment Authorization Document (Form I-766) with Auto-Extension:\n- An EAD may be acceptable even when expired if accompanied by a Form I-797C Notice of Action / receipt notice for a timely filed EAD renewal in an eligible category.\n- If the uploaded image shows both the expired EAD and a matching Form I-797C, treat the EAD as unexpired. Set expirationStatus=VALID, do NOT flag DOCUMENT_EXPIRED, and allow complianceEligibility=true when all other checks pass.\n- If the EAD is expired and no Form I-797C is visible, flag DOCUMENT_EXPIRED as usual.\n\n2. Permanent Resident Card (Form I-551) with Extension Notice:\n- When the submission shows both an expired Permanent Resident Card AND a valid Form I-797 Notice of Action extending it, do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code I551_EXTENSION_NOTICE.\n- If only the expired card is visible without the I-797 notice, flag DOCUMENT_EXPIRED as usual.\n\n3. Foreign Passport with Temporary I-551/ADIT Stamp:\n- When a foreign passport contains a valid temporary I-551 stamp (ADIT stamp), the passport's own expiration date is NOT enforced. Do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code ADIT_STAMP_ACCEPTED.\n- The ADIT stamp itself must still be valid.\n\n4. Receipt for Lost, Stolen, or Damaged Documents (The Receipt Rule):\n- A receipt showing that a replacement document has been applied for is acceptable for I-9 purposes for 90 days from the date of hire.\n- Do NOT flag DOCUMENT_EXPIRED. Set expirationStatus=NOT_APPLICABLE. Add a flag with severity INFO, code RECEIPT_DOCUMENT_ACCEPTED.\n- Extract the receipt date, original document type, and any receipt number into extractedFields.\n\nDOCUMENT COPY / SCREENSHOT RULES:\n- Reject screenshots, screen captures, photos of a phone/computer screen, scans, photocopies, xerox copies, printed copies, black-and-white copies, or any image that appears to show a copy/reproduction instead of the original physical document.\n- If this is detected, set flags with DOCUMENT_COPY_OR_SCREENSHOT (severity CRITICAL), set complianceEligibility=false, nextAction=RETAKE_PHOTO, humanReviewRequired=true, and write a clear userMessage asking the user to upload a clear photo of the original physical document, not a screenshot, scan, photocopy, or xerox copy.\n- This rule applies to both front and back side uploads.\n\nSCHOOL ID RULES:\n- A School ID with Photograph is an acceptable I-9 List B identity document. Classify it as \"school-id\" when the document is issued by a school and includes the person's name and photograph.\n- School IDs may not show DOB or expiration. If those fields are not printed, set dobMatch=NOT_CHECKED and expirationStatus=NOT_CHECKED; do not reject solely because DOB or expiration is absent. The visible name must still match the profile.\n- School ID is allowed as a List B document for all immigration statuses when the worker uses the List B + List C path.\n\nPASSPORT BOOK vs PASSPORT CARD CLASSIFICATION (CRITICAL):\\n- A US Passport BOOK is a multi-page booklet (typically 3.5 x 5 inches closed). It has a dark blue cover, a full biographical data page inside with a large photo, printed personal details, and a Machine Readable Zone (MRZ) that starts with P<USA. If you see a booklet, multiple pages, or MRZ starting with P<USA, classify as \\\"passport\\\" — NEVER as \\\"passport-card\\\".\\n- A US Passport CARD is a single wallet-sized plastic card (about the size of a credit card / driver's license). It says \\\"PASSPORT CARD\\\" or \\\"UNITED STATES PASSPORT CARD\\\" on the front. It has no booklet pages. If the document is wallet-sized, single-card, and says PASSPORT CARD, classify as \\\"passport-card\\\".\\n- When in doubt, if the document looks like a booklet or has an MRZ starting with P<USA, it is a passport BOOK (\\\"passport\\\"), not a passport card.\\n- Getting this classification wrong is a CRITICAL error. Double-check before returning detectedDocumentType.\\n\\nSUPPORTED detectedDocumentType values:\n  drivers-license | state-id | passport | passport-card | permanent-resident-card | employment-authorization-card | military-id | school-id | unknown\n\nRETURN THIS EXACT JSON STRUCTURE (fill all values based on the actual image \u2014 do NOT copy these placeholder values):\n{\n  \"documentDetected\": true,\n  \"detectedDocumentType\": \"<actual detected type>\",\n  \"detectedDocumentTypeLabel\": \"<human readable label of what you actually detected>\",\n  \"actualDocumentList\": \"<A, B, or C>\",\n  \"documentTypeMatch\": true,\n  \"listMatch\": true,\n  \"detectedSide\": \"<front or back \u2014 what you actually see in the image>\",\n  \"sideMatchesSelected\": true,\n  \"extractedFields\": {\n    \"first_name\": null, \"middle_name\": null, \"last_name\": null, \"suffix\": null,\n    \"date_of_birth\": null, \"expiration_date\": null, \"issue_date\": null,\n    \"document_number\": null, \"address_line1\": null, \"city\": null, \"state\": null, \"zip\": null\n  },\n  \"validationResults\": {\n    \"nameMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"dobMatch\": { \"status\": \"NOT_CHECKED\", \"details\": null, \"userProvided\": \"\", \"documentExtracted\": \"\" },\n    \"addressMatch\": { \"status\": \"NOT_CHECKED\" },\n    \"expirationStatus\": \"NOT_CHECKED\",\n    \"photoIntegrity\": \"CLEAR\"\n  },\n  \"immigrationStatusCheck\": { \"documentAllowedForStatus\": true, \"reason\": null },\n  \"crossListMismatch\": { \"detected\": false, \"expectedList\": \"<expected list from context>\", \"actualList\": \"<actual list of detected doc>\", \"message\": null },\n  \"flags\": [],\n  \"complianceEligibility\": true,\n  \"nextAction\": \"CONTINUE\",\n  \"humanReviewRequired\": false,\n  \"reviewReason\": null,\n  \"userMessage\": \"<write a specific message based on verification result \u2014 never copy example text>\"\n}\n\nFLAG CODES: WRONG_LIST | WRONG_DOCUMENT | SIDE_MISMATCH | NAME_MISMATCH | DOB_MISMATCH | DOCUMENT_EXPIRED | STATUS_INELIGIBLE | IMAGE_QUALITY_LOW | NO_DOCUMENT_DETECTED | VENEZUELAN_PASSPORT_EXPIRY_BYPASS | EAD_AUTO_EXTENSION | I551_EXTENSION_NOTICE | ADIT_STAMP_ACCEPTED | RECEIPT_DOCUMENT_ACCEPTED\nReturn ONLY strict JSON. No Markdown. No code fences. Never expose flag codes in userMessage.",
        "inputType": "binary",
        "options": {}
      },
      "id": "i9-gemini-fallback-001",
      "name": "Analyze I9 Document (Fallback)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2360,
        480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "m4VCWj43BbfwQLJf",
          "name": "Prod Ops Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare I9 Context').item.json;\nconst rawAnalysis = $input.first().json;\nconst i9 = context.i9Context || {};\n\nconsole.log('[I9-FORMAT] Raw keys: ' + Object.keys(rawAnalysis).join(', '));\nconsole.log('[I9-FORMAT] typeof text: ' + typeof rawAnalysis.text);\n\nfunction extractJSON(raw) {\n  if (raw.documentDetected !== undefined) return raw;\n  const candidates = [\n    raw.text,\n    raw.content?.parts?.[0]?.text,\n    raw.output_text,\n    typeof raw.message === 'string' ? raw.message : null\n  ];\n  for (const candidate of candidates) {\n    if (typeof candidate !== 'string') continue;\n    const cleaned = candidate.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n    console.log('[I9-PARSE] Trying candidate, first 200 chars: ' + cleaned.substring(0, 200));\n    try { return JSON.parse(cleaned); } catch(e) { console.log('[I9-PARSE] Failed: ' + e.message); }\n  }\n  return null;\n}\n\nfunction toFieldMatch(val) {\n  if (!val) return { status: 'NOT_CHECKED' };\n  if (typeof val === 'string') {\n    const s = val.toUpperCase();\n    return { status: ['MATCH','MISMATCH','PARTIAL_MATCH','AMBIGUOUS','NOT_CHECKED'].includes(s) ? s : 'NOT_CHECKED' };\n  }\n  if (typeof val === 'object') {\n    const s = String(val.status || 'NOT_CHECKED').toUpperCase();\n    return {\n      status: ['MATCH','MISMATCH','PARTIAL_MATCH','AMBIGUOUS','NOT_CHECKED'].includes(s) ? s : 'NOT_CHECKED',\n      details: val.details || null,\n      userProvided: val.userProvided || null,\n      documentExtracted: val.documentExtracted || null\n    };\n  }\n  return { status: 'NOT_CHECKED' };\n}\n\nfunction toFlag(f) {\n  if (typeof f === 'string') return { severity: 'CRITICAL', code: f, message: f.replace(/_/g, ' ').toLowerCase() };\n  return { severity: f.severity || 'CRITICAL', code: f.code || 'UNKNOWN', message: f.message || f.code || 'Unknown issue' };\n}\n\nconst a = extractJSON(rawAnalysis);\n\nif (!a) {\n  console.log('[I9-RESULT] PARSE FAILED \u2014 returning friendly error');\n  return [{ json: {\n    success: false, requestId: context.requestId, source: 'n8n-i9-gemini',\n    s3FileKey: context.s3FileKey || null,\n    s3FileUrl: context.s3FileUrl || null,\n    userMessage: 'We could not verify this image automatically. Please retake the photo with good lighting and ensure the full document is visible.',\n    analysis: {\n      documentDetected: false, detectedDocumentType: 'unknown', detectedDocumentTypeLabel: 'Unknown',\n      documentTypeMatch: false, userSelectedType: context.selectedDocumentType || 'unknown',\n      userSelectedTypeLabel: 'Unknown', detectedSide: context.documentSide || 'front',\n      sideMatchesSelected: false, extractedFields: {},\n      validationResults: {\n        nameMatch: { status: 'NOT_CHECKED' }, dobMatch: { status: 'NOT_CHECKED' },\n        addressMatch: { status: 'NOT_CHECKED' }, expirationStatus: 'UNKNOWN', photoIntegrity: 'UNCLEAR'\n      },\n      flags: [{ severity: 'CRITICAL', code: 'ANALYSIS_FAILED', message: 'Document could not be read from the image.' }],\n      complianceEligibility: false, nextAction: 'RETAKE_PHOTO',\n      humanReviewRequired: true, reviewReason: 'Gemini response parse failure'\n    }\n  } }];\n}\n\nconsole.log('[I9-FORMAT] Parsed OK. documentDetected=' + a.documentDetected + ' detectedType=' + a.detectedDocumentType);\n\nconst vr = a.validationResults || {};\nconst ef = a.extractedFields || {};\nconst clm = a.crossListMismatch || {};\nconst isc = a.immigrationStatusCheck || {};\n\nlet flags = Array.isArray(a.flags) ? a.flags.map(toFlag) : [];\n\nfunction isFutureIssueDateProblem(value) {\n  const text = String(value || '').toUpperCase();\n  return text.includes('ISSUE DATE') && (text.includes('FUTURE') || text.includes('NOT YET VALID') || text.includes('NOT-YET-VALID'));\n}\nfunction isFutureIssueDateFlag(f) {\n  const code = String(f.code || '').toUpperCase();\n  const message = String(f.message || '').toUpperCase();\n  return ((code.includes('ISSUE') && code.includes('FUTURE')) || code.includes('NOT_YET_VALID') || isFutureIssueDateProblem(message));\n}\nconst removedFutureIssueDateFlag = flags.some(isFutureIssueDateFlag);\nflags = flags.filter(f => !isFutureIssueDateFlag(f));\nif (removedFutureIssueDateFlag) console.log('[I9-SAFETY] Removed future issue-date flag; issue_date is informational only.');\n\nfunction textMentionsEadAutoExtension(value) {\n  const text = String(value || '').toUpperCase();\n  return text.includes('I-797C')\n    || text.includes('I797C')\n    || text.includes('NOTICE OF ACTION')\n    || text.includes('AUTO-EXTENSION')\n    || text.includes('AUTO EXTENSION')\n    || text.includes('AUTOMATIC EXTENSION')\n    || text.includes('RENEWAL RECEIPT')\n    || text.includes('RECEIPT NOTICE');\n}\nfunction isAutoExtendedEad() {\n  const selected = String(context.selectedDocumentType || '').toLowerCase();\n  const detected = String(a.detectedDocumentType || '').toLowerCase();\n  const label = String(a.detectedDocumentTypeLabel || '').toUpperCase();\n  const fieldsText = JSON.stringify(ef || {});\n  const flagsText = JSON.stringify(flags || []);\n  const isEad = selected === 'employment-authorization-card'\n    || detected === 'employment-authorization-card'\n    || label.includes('EMPLOYMENT AUTHORIZATION');\n  return isEad && (\n    textMentionsEadAutoExtension(fieldsText)\n    || textMentionsEadAutoExtension(a.userMessage)\n    || textMentionsEadAutoExtension(a.reviewReason)\n    || textMentionsEadAutoExtension(flagsText)\n  );\n}\nconst autoExtendedEad = isAutoExtendedEad();\nif (autoExtendedEad) {\n  flags = flags.filter(f => String(f.code || '').toUpperCase() !== 'DOCUMENT_EXPIRED');\n  if (vr && typeof vr === 'object') vr.expirationStatus = 'VALID';\n  if (!flags.some(f => f.code === 'EAD_AUTO_EXTENSION')) {\n    flags.push({ severity: 'INFO', code: 'EAD_AUTO_EXTENSION', message: 'This Employment Authorization Document (Form I-766) has been auto-extended with a valid Form I-797C receipt notice. The printed expiry date on the card is not enforced.' });\n  }\n  console.log('[I9-SAFETY] Treating expired Form I-766 as auto-extended based on matching Form I-797C / renewal receipt evidence.');\n}\n\nconst i9ExpiryExceptionCodes = ['EAD_AUTO_EXTENSION', 'I551_EXTENSION_NOTICE', 'ADIT_STAMP_ACCEPTED', 'VENEZUELAN_PASSPORT_EXPIRY_BYPASS', 'RECEIPT_DOCUMENT_ACCEPTED'];\nconst hasExpiryException = flags.some(f => i9ExpiryExceptionCodes.includes(f.code));\nif (hasExpiryException) {\n  flags = flags.filter(f => String(f.code || '').toUpperCase() !== 'DOCUMENT_EXPIRED');\n  if (vr && typeof vr === 'object' && (!vr.expirationStatus || vr.expirationStatus === 'EXPIRED')) {\n    vr.expirationStatus = 'NOT_APPLICABLE';\n  }\n  console.log('[I9-SAFETY] I-9 expired document exception detected; removed DOCUMENT_EXPIRED flag.');\n}\n\nfunction isCopyOrScreenshotProblem(value) {\n  const text = String(value || '').toUpperCase();\n  return text.includes('DOCUMENT_COPY_OR_SCREENSHOT')\n    || text.includes('SCREENSHOT')\n    || text.includes('SCREEN CAPTURE')\n    || text.includes('PHOTO OF A SCREEN')\n    || text.includes('XEROX')\n    || text.includes('PHOTOCOPY')\n    || text.includes('SCANNED COPY')\n    || text.includes('SCAN OF')\n    || text.includes('PRINTED COPY')\n    || text.includes('BLACK-AND-WHITE COPY')\n    || text.includes('BLACK AND WHITE COPY')\n    || text.includes('DIGITAL COPY');\n}\nfunction isCopyOrScreenshotFlag(f) {\n  return isCopyOrScreenshotProblem(f.code) || isCopyOrScreenshotProblem(f.message);\n}\nconst modelReportedCopyOrScreenshot = flags.some(isCopyOrScreenshotFlag) || isCopyOrScreenshotProblem(a.userMessage);\nif (modelReportedCopyOrScreenshot && !flags.some(f => f.code === 'DOCUMENT_COPY_OR_SCREENSHOT')) {\n  flags.push({ severity: 'CRITICAL', code: 'DOCUMENT_COPY_OR_SCREENSHOT', message: 'Document appears to be a screenshot, scan, photocopy, or xerox copy instead of the original physical document.' });\n  console.log('[I9-SAFETY] Auto-injected CRITICAL DOCUMENT_COPY_OR_SCREENSHOT flag');\n}\nflags.forEach(f => { if (f.code === 'DOCUMENT_COPY_OR_SCREENSHOT') f.severity = 'CRITICAL'; });\n\nif (clm.detected && !flags.some(f => f.code === 'WRONG_LIST')) {\n  flags.unshift({ severity: 'CRITICAL', code: 'WRONG_LIST', message: clm.message || 'Document belongs to a different I-9 list than expected.' });\n}\nif (a.documentTypeMatch === false && a.listMatch === true && !flags.some(f => f.code === 'WRONG_DOCUMENT')) {\n  flags.unshift({ severity: 'WARNING', code: 'WRONG_DOCUMENT', message: 'You selected \"' + (i9.expectedDocLabel || '') + '\" but uploaded a different document from the same list.' });\n}\nif (isc.documentAllowedForStatus === false && !flags.some(f => f.code === 'STATUS_INELIGIBLE')) {\n  flags.unshift({ severity: 'CRITICAL', code: 'STATUS_INELIGIBLE', message: isc.reason || 'This document is not valid for your immigration status.' });\n}\n\nconst rawCompliance = typeof a.complianceEligibility === 'boolean' ? a.complianceEligibility : false;\n// Any CRITICAL flag must block continuation regardless of what the model returned\nconst hasCriticalFlag = flags.some(f => f.severity === 'CRITICAL');\nconst nameStatus = (typeof vr.nameMatch === 'object' && vr.nameMatch ? (vr.nameMatch.status || '') : (typeof vr.nameMatch === 'string' ? vr.nameMatch : '')).toUpperCase();\nconst dobStatus = (typeof vr.dobMatch === 'object' && vr.dobMatch ? (vr.dobMatch.status || '') : (typeof vr.dobMatch === 'string' ? vr.dobMatch : '')).toUpperCase();\nconst hasValidationMismatch = nameStatus === 'MISMATCH' || dobStatus === 'MISMATCH';\nconst modelMessageMentionsFutureIssueDate = isFutureIssueDateProblem(a.userMessage);\nconst documentDetectedCheck = Boolean(a.documentDetected);\nconst documentTypeMatchCheck = Boolean(a.documentTypeMatch);\nconst sideMatchesCheck = Boolean(a.sideMatchesSelected !== false);\nconst listMatchCheck = a.listMatch !== false;\nconst statusAllowedCheck = isc.documentAllowedForStatus !== false;\nconst modelRejectedOnlyForFutureIssueDate = (removedFutureIssueDateFlag || modelMessageMentionsFutureIssueDate) && documentDetectedCheck && documentTypeMatchCheck && sideMatchesCheck && listMatchCheck && statusAllowedCheck && !hasCriticalFlag && !hasValidationMismatch;\nconst modelRejectedOnlyForAutoExtendedEad = (autoExtendedEad) && documentDetectedCheck && documentTypeMatchCheck && sideMatchesCheck && listMatchCheck && statusAllowedCheck && !hasCriticalFlag && !hasValidationMismatch;\nconst modelRejectedOnlyForExpiryException = hasExpiryException && documentDetectedCheck && documentTypeMatchCheck && sideMatchesCheck && listMatchCheck && statusAllowedCheck && !hasCriticalFlag && !hasValidationMismatch;\nconst complianceEligibility = (rawCompliance || modelRejectedOnlyForFutureIssueDate || modelRejectedOnlyForAutoExtendedEad || modelRejectedOnlyForExpiryException) && !hasCriticalFlag && !hasValidationMismatch;\n\nconst labels = {\n  'drivers-license': \"US Driver's License\", 'state-id': 'US State ID Card',\n  'passport': 'US Passport', 'passport-card': 'US Passport Card',\n  'permanent-resident-card': 'US Permanent Resident Card',\n  'foreign-passport-i551-stamp': 'Foreign Passport with Temporary I-551 Stamp',\n  'foreign-passport-mriv': 'Foreign Passport with Machine-Readable Immigrant Visa (MRIV)',\n  'expired-green-card-i797': 'Expired Permanent Resident Card with Form I-797 Extension Notice',\n  'i94-i551-stamp-photo': 'Form I-94 with I-551 Stamp and Photograph',\n  'foreign-passport-i94': 'Foreign Passport with Form I-94',\n  'employment-authorization-card': 'US Employment Authorization Card',\n  'military-id': 'US Military ID', 'school-id': 'School ID with Photograph', 'unknown': 'Unknown Document'\n};\n\nlet detectedType = a.detectedDocumentType || context.selectedDocumentType || 'unknown';\nconst selectedType = context.selectedDocumentType || 'unknown';\n\n// SAFETY NET: passport book vs passport card auto-correction\nif (detectedType === 'passport-card') {\n  const allFieldsStr = JSON.stringify(ef).toUpperCase();\n  const hasBookMRZ = allFieldsStr.includes('P<USA');\n  const labelMentionsBook = (a.detectedDocumentTypeLabel || '').toUpperCase().includes('PASSPORT BOOK');\n  const hasMultiplePages = allFieldsStr.includes('BOOKLET') || allFieldsStr.includes('BOOK');\n  if (hasBookMRZ || labelMentionsBook || hasMultiplePages) {\n    console.log('[I9-SAFETY] Auto-correcting passport-card -> passport (book cues: MRZ=' + hasBookMRZ + ' label=' + labelMentionsBook + ' pages=' + hasMultiplePages + ')');\n    detectedType = 'passport';\n    a.detectedDocumentType = 'passport';\n    a.detectedDocumentTypeLabel = 'US Passport';\n    if (selectedType === 'passport') {\n      a.documentTypeMatch = true;\n    }\n  }\n}\nif (detectedType === 'passport') {\n  const labelSaysCard = (a.detectedDocumentTypeLabel || '').toUpperCase().includes('PASSPORT CARD');\n  if (labelSaysCard) {\n    console.log('[I9-SAFETY] Label says passport card but type says passport — fixing label');\n    a.detectedDocumentTypeLabel = 'US Passport';\n  }\n}\n\nconst normalizedAnalysis = {\n  documentDetected: Boolean(a.documentDetected),\n  userSelectedType: selectedType,\n  userSelectedTypeLabel: labels[selectedType] || selectedType,\n  detectedDocumentType: detectedType,\n  detectedDocumentTypeLabel: a.detectedDocumentTypeLabel || labels[detectedType] || detectedType,\n  documentTypeMatch: Boolean(a.documentTypeMatch),\n  detectedSide: a.detectedSide || context.documentSide || 'front',\n  sideMatchesSelected: Boolean(a.sideMatchesSelected !== false),\n  extractedFields: ef,\n  validationResults: {\n    nameMatch: toFieldMatch(vr.nameMatch),\n    dobMatch: toFieldMatch(vr.dobMatch),\n    addressMatch: toFieldMatch(vr.addressMatch || 'NOT_CHECKED'),\n    expirationStatus: vr.expirationStatus || 'UNKNOWN',\n    photoIntegrity: vr.photoIntegrity || 'CLEAR'\n  },\n  flags,\n  complianceEligibility,\n  nextAction: modelReportedCopyOrScreenshot ? 'RETAKE_PHOTO' : (a.nextAction || (complianceEligibility ? 'CONTINUE' : 'HALT_VERIFICATION')) ,\n  humanReviewRequired: Boolean(a.humanReviewRequired ?? !complianceEligibility),\n  reviewReason: a.reviewReason || null\n};\n\nconsole.log('\\n======== I-9 VERIFICATION RESULT ========');\nconsole.log('[I9] request=' + context.requestId);\nconsole.log('[I9] immigration=' + i9.citizenshipStatus + ' expectedList=' + i9.expectedList + ' expectedDoc=' + i9.expectedDocLabel);\nconsole.log('[I9] detectedDoc=' + (a.detectedDocumentTypeLabel || '?') + ' actualList=' + (a.actualDocumentList || '?'));\nconsole.log('[I9] listMatch=' + a.listMatch + ' docMatch=' + a.documentTypeMatch);\nconsole.log('[I9] crossListMismatch=' + JSON.stringify(clm));\nconsole.log('[I9] statusCheck=' + JSON.stringify(isc));\nconsole.log('[I9] name=' + normalizedAnalysis.validationResults.nameMatch.status + ' dob=' + normalizedAnalysis.validationResults.dobMatch.status);\nconsole.log('[I9] compliance=' + complianceEligibility + ' action=' + normalizedAnalysis.nextAction);\nconsole.log('[I9] flags=' + JSON.stringify(flags));\nconst finalUserMessage = modelReportedCopyOrScreenshot\n  ? 'Please upload a clear photo of the original physical document. Screenshots, scans, photocopies, and xerox copies cannot be accepted.'\n  : (modelMessageMentionsFutureIssueDate\n    ? (complianceEligibility ? 'Your document has been verified successfully.' : 'There was an issue verifying your document. Please check the details below.')\n    : (a.userMessage || (complianceEligibility ? 'Your document has been verified successfully.' : 'There was an issue verifying your document. Please check the details below.')));\nconsole.log('[I9] userMessage=' + (finalUserMessage || 'none'));\nconsole.log('=========================================\\n');\n\nreturn [{ json: {\n  success: true,\n  requestId: context.requestId,\n  source: 'n8n-i9-gemini',\n  s3FileKey: context.s3FileKey || null,\n  s3FileUrl: context.s3FileUrl || null,\n  userMessage: finalUserMessage,\n  analysis: normalizedAnalysis\n} }];"
      },
      "id": "i9-format-response-001",
      "name": "Format I9 Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "i9-respond-result-001",
      "name": "Respond I9 Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "I9 Verification Webhook": {
      "main": [
        [
          {
            "node": "Validate I9 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate I9 Request": {
      "main": [
        [
          {
            "node": "Is I9 Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is I9 Request Valid?": {
      "main": [
        [
          {
            "node": "Convert I9 Image To Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid I9 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert I9 Image To Binary": {
      "main": [
        [
          {
            "node": "Upload I9 Doc To S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload I9 Doc To S3": {
      "main": [
        [
          {
            "node": "Prepare I9 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare I9 Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare I9 Context": {
      "main": [
        [
          {
            "node": "Analyze I9 Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze I9 Document": {
      "main": [
        [
          {
            "node": "Format I9 Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare I9 Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare I9 Fallback": {
      "main": [
        [
          {
            "node": "Analyze I9 Document (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze I9 Document (Fallback)": {
      "main": [
        [
          {
            "node": "Format I9 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format I9 Response": {
      "main": [
        [
          {
            "node": "Respond I9 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "i9-v4-tamper-fix-2026-05-08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5af3afb38f8674a00c025a9c92d12ea4b38dfe8e9127a5a712d25099414396a2"
  },
  "id": "i9DocVerification",
  "tags": []
}
