n8n/instawork-w2-document-validation.workflow.json
{
  "name": "Instawork Identity Verification - Drive + GPT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instawork-identity-verification",
        "responseMode": "responseNode"
      },
      "id": "Webhook_IdentityVerification",
      "name": "Identity Verification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst required = ['requestId', 'imageBase64', 'selectedDocumentType', 'documentSide', 'profile'];\nconst missing = required.filter((key) => !body[key]);\nif (missing.length) {\n  return [{ json: {\n    requestId: body.requestId || 'missing_request_id',\n    source: 'n8n',\n    googleDriveFolderId: body.googleDriveFolderId || '1vn1OXPH2al136Us9th9LHR96nwIqHLQd',\n    userMessage: 'We could not start identity verification because required data was missing.',\n    analysis: {\n      documentDetected: false,\n      userSelectedType: body.selectedDocumentType || 'unknown',\n      userSelectedTypeLabel: 'Selected document',\n      detectedDocumentType: 'unknown',\n      detectedDocumentTypeLabel: 'Unsupported document',\n      documentTypeMatch: false,\n      detectedSide: body.documentSide || 'front',\n      extractedFields: {},\n      validationResults: {\n        nameMatch: { status: 'NOT_CHECKED' },\n        dobMatch: { status: 'NOT_CHECKED' },\n        addressMatch: { status: 'NOT_CHECKED' },\n        expirationStatus: 'UNKNOWN',\n        photoIntegrity: 'ABSENT'\n      },\n      flags: missing.map((key) => ({ severity: 'CRITICAL', code: 'MISSING_FIELD', message: `Missing required field: ${key}` })),\n      complianceEligibility: false,\n      nextAction: 'HALT_VERIFICATION',\n      humanReviewRequired: true,\n      reviewReason: 'Missing required identity verification input.'\n    }\n  }}];\n}\nconst imageBase64 = String(body.imageBase64).replace(/^data:image\\/[a-zA-Z0-9.+-]+;base64,/, '');\nreturn [{\n  json: {\n    ...body,\n    googleDriveFolderId: body.googleDriveFolderId || '1vn1OXPH2al136Us9th9LHR96nwIqHLQd',\n    uploadedFileName: `${body.requestId}-${body.selectedDocumentType}-${body.documentSide}.png`\n  },\n  binary: {\n    idImage: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: `${body.requestId}-${body.selectedDocumentType}-${body.documentSide}.png`\n    }\n  }\n}];"
      },
      "id": "Code_ValidateInput",
      "name": "Validate Input + Prepare Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.uploadedFileName }}",
        "parents": "={{ [$json.googleDriveFolderId] }}",
        "binaryData": true,
        "binaryPropertyName": "idImage"
      },
      "id": "GoogleDrive_UploadIdImage",
      "name": "Upload ID Image To Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4.1",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an identity-document verification assistant for a user guidance simulation. Analyze the image and return strict JSON only. Never invent fields. If text is unclear, return null and lower confidence. If the image is not a supported US government ID, set documentDetected false. Supported types: drivers-license, state-id, passport, passport-card, permanent-resident-card, employment-authorization-card, military-id. Compare the document name and date of birth against the provided profile. Use user-friendly but precise flags."
            },
            {
              "role": "user",
              "content": "Analyze this captured ID image from Google Drive. Drive file id: {{ $('Upload ID Image To Google Drive').item.json.id || $('Upload ID Image To Google Drive').item.json.fileId }}. User selected type: {{ $json.selectedDocumentType }}. Document side selected: {{ $json.documentSide }}. User profile: legal first name={{ $json.profile.legalFirstName }}, legal middle name={{ $json.profile.legalMiddleName || '' }}, legal last name={{ $json.profile.legalLastName }}, DOB={{ $json.profile.dateOfBirth }}. Return JSON with: documentDetected, detectedDocumentType, detectedDocumentTypeLabel, documentTypeMatch, detectedSide, extractedFields, validationResults, flags, complianceEligibility, nextAction, humanReviewRequired, reviewReason, userMessage, confidence."
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "OpenAI_ExtractDocument",
      "name": "Extract Document With GPT",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [720, 0],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $items('Validate Input + Prepare Image')[0].json;\nconst drive = $items('Upload ID Image To Google Drive')[0].json;\nconst labels = {\n  'drivers-license': 'US Driver’s License',\n  'state-id': 'US State ID Card',\n  passport: 'US Passport',\n  'passport-card': 'US Passport Card',\n  'permanent-resident-card': 'US Permanent Resident Card',\n  'employment-authorization-card': 'US Employment Authorization Card',\n  'military-id': 'US Military ID',\n  unknown: 'Unsupported document'\n};\nconst raw = $json;\nconst detectedType = raw.detectedDocumentType || 'unknown';\nconst selectedLabel = labels[input.selectedDocumentType] || labels.unknown;\nconst detectedLabel = raw.detectedDocumentTypeLabel || labels[detectedType] || labels.unknown;\nconst documentTypeMatch = Boolean(raw.documentTypeMatch ?? detectedType === input.selectedDocumentType);\nconst flags = Array.isArray(raw.flags) ? raw.flags : [];\nif (!raw.documentDetected) {\n  flags.push({ severity: 'CRITICAL', code: 'NO_DOCUMENT_DETECTED', message: 'No supported US government ID detected. Hold the selected document inside the frame and capture the correct side.' });\n}\nif (raw.documentDetected && !documentTypeMatch) {\n  flags.push({ severity: 'CRITICAL', code: 'DOCUMENT_TYPE_MISMATCH', message: `DOCUMENT_TYPE_MISMATCH: User selected ${selectedLabel}, but image detects ${detectedLabel}. Verification halted.` });\n}\nconst critical = flags.some((flag) => flag.severity === 'CRITICAL');\nconst userMessage = raw.userMessage || (critical ? 'We found a problem with this ID. Review the feedback and retake the photo or correct your profile.' : 'This ID looks good and matches your profile.');\nreturn [{ json: {\n  requestId: input.requestId,\n  source: 'n8n',\n  googleDriveFolderId: input.googleDriveFolderId,\n  googleDriveFileId: drive.id || drive.fileId || null,\n  userMessage,\n  analysis: {\n    documentDetected: Boolean(raw.documentDetected),\n    userSelectedType: input.selectedDocumentType,\n    userSelectedTypeLabel: selectedLabel,\n    detectedDocumentType: detectedType,\n    detectedDocumentTypeLabel: detectedLabel,\n    documentTypeMatch,\n    detectedSide: raw.detectedSide || input.documentSide,\n    extractedFields: raw.extractedFields || {},\n    validationResults: raw.validationResults || {\n      nameMatch: { status: 'NOT_CHECKED' },\n      dobMatch: { status: 'NOT_CHECKED' },\n      addressMatch: { status: 'NOT_CHECKED' },\n      expirationStatus: 'UNKNOWN',\n      photoIntegrity: 'ANOMALY'\n    },\n    flags,\n    complianceEligibility: Boolean(raw.complianceEligibility ?? !critical),\n    nextAction: raw.nextAction || (critical ? 'HALT_VERIFICATION' : 'CONTINUE'),\n    humanReviewRequired: Boolean(raw.humanReviewRequired ?? critical),\n    reviewReason: raw.reviewReason || flags.find((flag) => flag.severity === 'CRITICAL')?.message\n  }\n}}];"
      },
      "id": "Code_NormalizeVerification",
      "name": "Normalize Verification Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond_ReturnValidation",
      "name": "Return Validation Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Identity Verification Webhook": {
      "main": [[{ "node": "Validate Input + Prepare Image", "type": "main", "index": 0 }]]
    },
    "Validate Input + Prepare Image": {
      "main": [[{ "node": "Upload ID Image To Google Drive", "type": "main", "index": 0 }]]
    },
    "Upload ID Image To Google Drive": {
      "main": [[{ "node": "Extract Document With GPT", "type": "main", "index": 0 }]]
    },
    "Extract Document With GPT": {
      "main": [[{ "node": "Normalize Verification Response", "type": "main", "index": 0 }]]
    },
    "Normalize Verification Response": {
      "main": [[{ "node": "Return Validation Result", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "drive-gpt-identity-pipeline"
}
